* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Text', sans-serif;
}

hr {}

/*nav*/
nav {
  background-color: rgba(0, 0, 0, 0.8);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

nav li {
  list-style: none;
  display: flex;
  margin: auto 1em;
}

nav a {
  color: #f5f5f7;
  text-decoration: none;
  font-weight: lighter;
  font-size: 0.9em;
  opacity: 0.8;
}

nav img {
  width: 18px;
}

nav a:hover {
  opacity: 1;
  transition: 1s;
}

.mobilenav {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  background-color: #f5f5f7;
  padding: 1.25em 0;
  text-align: center;
  font-size: 0.8em;
}

header a {
  color: #06c;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header a i {
  font-size: 0.7em;
}

header .supfoot {
  cursor: pointer;
}

/*main hero*/
main {
  background-image: url(img/index_img/holiday20_largetall_2x.jpg);
  background-position: center;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0.8em 0;
}

main img {
  height: 88px;
  margin: 2em auto 0 auto;
}

main h1 {
  margin: 0.3em;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

main a {
  text-decoration: none;
  font-size: 1.2em;
  color: #06c;
}

main a:hover {
  text-decoration: underline;
}

main a i {
  font-size: 0.7em;
  margin: 0 0.5em;
}

/*main hero*/
.iphone_12 {
  background-image: url(img/index_img/iphone_12__ejhnn79bn1me_largetall_2x.jpg);
  background-position: center;
  background-size: cover;
  height: 736px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0.8em 0;
}

.iphone_12pro {
  background-image: url(img/index_img/iphone_12_pro__f7ri3g4x75m6_largetall_2x.jpg);
  background-position: center;
  background-size: cover;
  height: 736px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.iphone_12 h1 {
  font-size: 3.5em;
  font-weight: 500;
  text-align: center;
  margin: 1em auto 0 auto;
}

.iphone_12pro h1,
.iphone_12pro p {
  color: white;
}

.iphone_12 p {
  margin: 0.2em;
  font-size: 1.7em;
  font-weight: 350;
  text-align: center;
}

.iphone_12 .cta {
  margin: 1em;
}

.iphone_12 a {
  font-size: 1.2em;
  text-decoration: none;
  margin: 0 1em;
  color: #06c;
}

.iphone_12 a:hover {
  text-decoration: underline;
}

.iphone_12 a i {
  font-size: 0.7em;
  margin: 0 0.5em;
}

/*collection*/
/*collection01*/
.collection {
  display: flex;
  justify-content: space-between;
}

.condiv {
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0.3em;
  text-align: center;
}

.condiv a {
  color: #06c;
  text-decoration: none;
}

.condiv a:hover {
  text-decoration: underline;
}

.condiv a i {
  font-size: 0.7em;
  margin: 0 0.5em;
}

.airpodspro {
  background-image: url(img/index_img/airpods_pro/airpod_tile_large_2x.jpg);
  background-position: center;
  background-size: cover;
}

.ipad h1,
.airpodsmax h1 {
  font-size: 2.5em;
  margin: 1em auto 0 auto;
}

.airpodspro h1 {
  font-size: 2.5em;
  margin: 1em 2.5em;
}

.airpodspro sup {
  font-size: 0.7em;
  font-weight: 400;
}

.applewatch {
  background-image: url(img/index_img/watch/tile__cauwwcyyn9hy_large_2x.jpg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

.applewatch img {
  width: 25%;
  margin: 2em auto 0.5em auto;
}

.applewatch p,
.airpodspro p {
  font-size: 1.5em;
  color: #f5f5f7;
  margin: 0.5em auto;
}

.ipad {
  background-image: url(img/index_img/ipad/tile__cauwwcyyn9hy_large_2x.jpg);
  background-position: center;
  background-size: cover;
}

.ipad p {
  font-size: 1.5em;
  margin: 0.5em;
}

.airpodsmax {
  background-image: url(img/index_img/airpods_max/tile_airpods_max__1fye83e0lle6_large_2x.jpg);
  background-position: center;
  background-size: cover;
}

.appleone {
  background-image: url(img/index_img/one/tile__cauwwcyyn9hy_large_2x.jpg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fbfbfd;
}

.appleone img {
  width: 15%;
  margin: 2em auto 0.5em auto;
}

.appleone p {
  font-size: 1.2em;
}

.appleone p:first-child {
  margin: 1em auto 0 auto;
}

.appleone p:last-child {
  margin: 0 auto 0.5em auto;
}

.appleone .cta {}

.appleone .cta img {
  width: 10px;
  color: white;
}

.appletv {
  background-image: url(img/index_img/tv/tile__cauwwcyyn9hy_large_2x.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-end;
  color: white;
  padding: 2em;
}

.appletv img {
  width: 10%;
}

.appletv a {
  color: white;
}

.appletv .cta img {
  color: white;
}

.appletv p {
  font-size: 1.5em;
  color: #f5f5f7;
  margin: 0.5em 2em;
}

footer {
  background-color: #f5f5f7;
}

.footcon {
  width: 70%;
  margin: 0 auto;
}

.footerterms {
  padding: 1em 1em 0 1em;
}

.fterms p {
  margin: 0 auto 1em auto;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.3);
}

.fterms a {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.fterms a:hover {
  text-decoration: underline;
}

.fterms hr {
  opacity: 0.5;
}

.directory {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.directory li {
  font-size: 0.7em;
  list-style: none;
  margin: 1em auto;
}

.directory a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.directory a:hover {
  transition: 1s;
  text-decoration: underline;
}

.directorycolumbs {
  margin: 1em;
}

.directorycolumbsmobile {
  display: none;
}

.directorycolumb {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.linkacc,
.linkedu,
.linkhealth {
  margin-top: 2em;
}

.footer {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}

.footsect {
  margin: auto;
}

.footsect a {
  color: #06c;
  text-decoration: none;
}

.footsect a:hover {
  text-decoration: underline;
}

.footsect p {
  padding: 1em;
}

.footsect hr {
  opacity: 0.5;
  margin: 0 1em;
}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sporetop {
  display: none;
}

.footlink ul {
  display: flex;
  align-items: flex-start;
}

.footlink li {
  font-size: 0.8em;
  font-weight: bold;
  list-style: none;
  margin: auto 1em;
  padding: 0 1em;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.footlink li:last-child {
  border-right: none;
}

.footlink a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.footlink a:hover {
  transition: 1s;
  text-decoration: underline;
}

/*media*/
@media screen and (max-width:768px) {

  /*navbar resize*/
  .webnav {
    display: none;
  }

  .mobilenav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobilenav li {
    margin: 0 1em;
  }
}

@media screen and (max-width:700px) {
  header p {
    margin: auto 4em;
  }

  main {
    background-image: url(img/index_img/holiday20_small_2x.jpg);
    height: 500px;
  }

  main img {
    height: 56px;
    margin: 2em auto 0 auto;
  }

  main h1 {
    margin: 0.5em 2em;
    font-size: 2em;
  }

  .iphone_12 {
    background-image: url(img/index_img/iphone_12__ejhnn79bn1me_small_2x.jpg);
    height: 500px;
  }

  .iphone_12 h1 {
    font-size: 2em;
  }

  .iphone_12 p {
    font-size: 1.2em;
  }

  .iphone_12 a {
    font-size: 1.2em;
  }

  .iphone_12pro {
    background-image: url(img/index_img/iphone_12_pro__f7ri3g4x75m6_small_2x.jpg);
    height: 500px;
  }

  .iphone_12pro h1 {
    font-size: 2em;
  }

  .iphone_12pro p {
    font-size: 1.2em;
  }

  .iphone_12pro a {
    font-size: 1.2em;
  }

  .collection {
    flex-direction: column;
    justify-content: center;
  }

  .condiv {
    margin: 0.5em 0;
    width: 100%;
  }

  .airpodspro {
    background-image: url(img/index_img/airpods_pro/airpod_tile_small_2x.jpg);
    height: 500px;
  }

  .airpodspro h1 {
    font-size: 2em;
    font-weight: 500;
    margin: 0.5em;
  }

  .applewatch {
    background-image: url(img/index_img/watch/tile__cauwwcyyn9hy_small_2x.jpg);
    height: 500px;
  }

  .applewatch p {
    font-size: 1.2em;
  }

  .ipad {
    background-image: url(img/index_img/ipad/tile__cauwwcyyn9hy_small_2x.jpg);
    height: 500px;
  }

  .ipad h1 {
    font-size: 2em;
    margin: 0.5em auto 0 auto;
  }

  .ipad p {
    font-size: 1em;
  }

  .airpodsmax {
    background-image: url(img/index_img/airpods_max/tile_airpods_max__1fye83e0lle6_small_2x.jpg);
    height: 500px;
  }

  .appleone {
    height: 500px;
  }

  .appletv {
    background-image: url(img/index_img/tv/tile__cauwwcyyn9hy_small_2x.jpg);
    height: 500px;
  }

  .appletv img {
    width: 15%;
  }

  .appletv p {
    font-size: 1em;
    margin: 0.5em 3em;
  }

  .footerterms p {
    width: 100%;
    font-size: 0.7em;
    font-weight: 500;
  }

  .foot {
    flex-direction: column;
    align-items: flex-start;
  }

  .footcon {
    width: 100%;
  }

  .directorycolumbs {
    display: none;
  }

  .directorycolumbsmobile {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1em auto;
  }

  .directorycolumbsmobile li {
    width: 456px;
    display: flex;
    justify-content: space-between;
  }

  .directorycolumbsmobile li p {
    margin-right: 1em;
  }

  .directorycolumbsmobile hr {
  opacity: 0.5;
}

  .footsect {
    width: 100%;
  }

  .footsect hr {
    display: none;
  }

  .footlink {
    align-items: flex-start;
    font-size: 0.9em;
    font-weight: 500;
  }

  .footlink li {
    padding: 0 1em 1em 0.5em;
    margin: 1em;
  }

  .sporetop {
    display: flex;
  }

  .sporebot {
    display: none;
  }
}
